/* Smartphones at vertical portrait width */

@media only screen and (min-width: 320px) {
  #map {
    height: 400px;
    width: 100%;
  }
  .images {
    display: inline;
    width: 50%;
    height: 50%;
  }
  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
    text-align: center;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
  }
  .parallax {
    display: none;
  }
  #text {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
  }
  caption {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
  }
}

/* Tablets at vertical portrait width */

@media only screen and (min-width: 480px) {
  .parallax {
    /* The image used */
    background-image: url("images/diyvenuebig2.jpg");
    /* Set a specific height */
    height: 400px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }
  .images {
    display: none;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
  }
}

/* Tablets at horizontal portrait width */

@media only screen and (min-width: 768px) {
  #map {
    height: 500px;
    width: 100%;
  }
  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
    text-align: center;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
  }
  .parallax {
    /* The image used */
    background-image: url("images/diyvenuebig2.jpg");
    /* Set a specific height */
    height: 400px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }
  .images {
    display: none;
  }
  #text {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
  }
  .firstcharacter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
}

/* Laptops and desktop monitors with large horizontal widths */

@media only screen and (min-width: 1200px) {
  #map {
    height: 400px;
    width: 100%;
  }
  #text {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 250px;
    margin-left: 250px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
  }
  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 56px;
    text-align: center;
    margin-bottom: 5px;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.5px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5px;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
  }
  h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
  }
  .images {
    display: none;
  }
  .firstcharacter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
}